.left_menu_container {
    height: 100%;
    width: fit-content;
    background-color: black;
    position: fixed;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 2%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.left_menu_container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_menu_logo {
    height: 2rem;
    padding-left: 4%;
    margin-bottom: 10%;
}